<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

		
	
	<context:property-placeholder location="/WEB-INF/jdbc.properties"/>		
	  
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		
		<property name="checkoutTimeout" value="30000" />
        <property name="idleConnectionTestPeriod" value="30"/>
        <property name="initialPoolSize" value="10" />
        <property name="maxIdleTime" value="30" />
        <property name="maxPoolSize" value="100" />
        <property name="minPoolSize" value="10" />
        <property name="maxStatements" value="10" />	
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan" value="com.lvg.tusers.models"/>		
		<property name="hibernateProperties">
			<value>
				hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
				hibernate.show_sql = true
				hibernate.enable_lazy_load_no_trans = true
			</value>
		</property>
	</bean>

	
	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- DAO -->
	<bean id="userDao" class="com.lvg.tusers.dao.hibernate.UserDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	<bean id="galleryDao" class="com.lvg.tusers.dao.hibernate.GalleryDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	<bean id="imageDao" class="com.lvg.tusers.dao.hibernate.ImageDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
	<!-- SERVICES -->
	<bean id="userService" class="com.lvg.tusers.services.impl.UserServiceImpl">
		<property name="dao" ref="userDao"/>
	</bean>
	<bean id="galleryService" class="com.lvg.tusers.services.impl.GalleryServiceImpl">
		<property name="dao" ref="galleryDao"/>
	</bean>
	<bean id="imageService" class="com.lvg.tusers.services.impl.ImageServiceImpl">
		<property name="dao" ref="imageDao"/>
	</bean>
	
	


</beans>