@CHARSET "UTF-8";

html, body, #content {
	height: 100%;
	width: 100%;
	margin: auto;
}

#content {
	color: #808080;
	margin-bottom: -60px;
}

#all {
	min-width: 330px;
	padding-top: 10px;
	padding-bottom: 60px;
}

#main {	
	min-height: 100%;
	min-width: 340px;
	margin-bottom: -60px;
}

#header {
	margin: 0;
    padding: 5px 10px 0;
    background: linear-gradient(to bottom, #417DFF, #96B8FF);
    color: #eee;
}

#lvg-main-menu{
	background: linear-gradient(to top, #FF9640, #FFB273);	
	border-radius: 3px;
	
}

.navbar-default .navbar-nav > li > a {
    color:#A64B00;
}
.navbar-default .navbar-brand{
	 color:#1543A6;
}
.lvg-title-text{
	color:#A6530E;
}

.panel {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);    
}

.lvg-img-icon{
	border: 1px solid #50C878;
	margin:5px;
	height:60px;
	width:80px;
}

.lvg-img-name{
	line-height: 90px;
}

.progress{
	height:10px;
	margin-top:45px;
}

#footer {
	font-size: 12pt;
    height: 60px;
    padding-top: 20px;
    padding-left: 10px;
  	background:linear-gradient(to top, #417DFF, #96B8FF);
    color: #eee;
}
#footer-content {
	margin: 0;
	padding: 0;
}

#lvg-separator{
	margin:10px 0 10px;
}

.lvg-error{
	font-size:10pt;
	color:#ff2222;
}

.lvg-valid{
	font-size:10pt;
	color:green;
}

.lvg-error-message{
	font-size:24pt;
	color:#ff2222;
}

.lvg-checked{
	color: #39d455;
}


}
